@mixin scrollbars(
  $size: 5px,
  $foreground-color: #aaa,
  $background-color: transparent
) {
  // по стандартам (Firefox)
  scrollbar-color: $foreground-color $background-color;

  // для Chrome и Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  @include scrollbars();
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.reset-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a,
.link {
  text-decoration: none;
  color: cornflowerblue;
  transition: color 0.3s;

  &:hover {
    color: #000;
  }
}

.item-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap: 20px;
  text-align: center;
}

.item {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0,
    rgba(0, 0, 0, 0.06) 0 0 0 1px;
  }
}

.title {
  text-align: center;
}

.select {
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  &__image {
    width: 100px;
    margin-bottom: 20px;
  }
}

.row {
  &__prop {
    font-weight: 700;
    margin-right: 10px;
  }

  &__value {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
}

.table {
  border: 1px solid #aaa;
  border-collapse: collapse;

  &__head{
    font-weight: 700;
  }

  &__col,
  &__head{
    padding: 5px;
    border: 1px solid #aaa;
  }
}